@model IEnumerable<JCVL20250320.AppWebMVC.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-dark">Usuarios</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Crear Usuario</a>
</p>

<table class="table table-striped table-hover mt-5" id="myTable">
    <thead class="table-dark text-white text-center">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PasswordHash)</th>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PasswordHash)</td>
                <td>@Html.DisplayFor(modelItem => item.Role)</td>
                <td class="text-center">
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.UserId">Editar</a>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.UserId">Detalles</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.UserId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
}
